.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Outfit;

}

#retangle{
    width: 280px;
    height: 490px;
    background-color: hsl(216, 50%, 16%);
    overflow: hidden;
    border-radius: 0.7em;
    padding: 20px;
}
#image-card{
    width: 100%;
}
#image-card:hover{
    width: 100%;
    cursor: pointer;
    color: rgba(178, 255, 127, 0.3)
}
#title-of-nft{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;

}
#title-of-nft:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
    
}
#description{
    font-size: 16px;
    color:hsl(215, 51%, 70%)
}
#value{
    margin-right: 90px;
    color:hsl(178, 100%, 50%)

    
}
#elements-inline, #value, #days-left{
    display: inline;
    font-size: 16px;

}
#eth-icon{
    margin-right: 5px;
}
#eth-icon, #clock-icon{
 vertical-align: text-top;
}
#days-left{
    color:hsl(215, 51%, 70%);
    margin-bottom: 3px;
    
}

#creator-image{
    width:45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
    border: solid white 2px
    
}

#creator{
    display: inline;
    color:hsl(215, 51%, 70%);
    
}

#link-creator{
    color:white;
    text-decoration:none

}
#link-creator:hover{
    color:hsl(178, 100%, 50%);
    text-decoration:none

}
#creator-area{
    font-size: 16px;
    margin-top: 12.5px;
}

hr {
    margin-top: 15px;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: hsl(215, 51%, 70%); /* old IE */
    background-color: hsl(215, 51%, 70%); /* Modern Browsers */
}
body{
    margin: 0;
    background-color: hsl(217, 54%, 11%);
}
